{{ define "main" }}
<div style="text-align: center;">
  <figure style="margin: 10px 0; text-align: center; margin-top: 0px;">
    <img src="/images/Dark_Matter.jpeg" alt="Wait-For-It" style="width: 100%; height: 500px; object-fit: cover; display: block;">
    <figcaption style="text-align: center; font-style: italic; font-size: 0.9em; color: #666; margin-top: 5px;">
        Dark Matter - A gitCompact Raxial Flux motor developed by Koeniggseg
    </figcaption>
</figure>

<h2>
  Learning about EV-erything.
</h2>

</div>

{{ end }}